*{
	margin: 0px;
	padding: 0px;
}
a{
    text-decoration: none;
}
h2{
    color: #00536c;
    font-size: 24px;
}
p{
    font-size: 16px;
    color: #878786;
}
#main-banner{
    max-height: 700px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1400px; 
    position: relative;
}
#main-banner img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
	z-index: -1;
}
.sidemenu{
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index:9998;
    padding-bottom: 50px;
    min-width: 120px;
}
.menu-item{
    border-bottom: 1px solid #ffffff;
    padding: 5px;
    color: #ffffff;
    position: relative;
    z-index: 9999;
    text-align: right;
}
.menu-item:hover{
    color:darkturquoise;
}
.active-menu-item{
    font-weight: bold;
}
.sidemenu > a >div > .menu-item:nth-of-type(1){
    border-top:1px solid #ffffff;
}
.inline-menu{
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 25px;
}
.inline-menu-item{
    display: inline-block;
    font-size: 0.75em;
    color: #ffffff;
    position: relative;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
}
.inline-menu-item:hover{
    color:darkturquoise;
}
.shadow-src{
    border-radius: 10%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    height: 1px;
    width: 1px;
    -webkit-box-shadow: 140px 40px 190px 300px rgba(64,124,147,0.75);
    -moz-box-shadow: 140px 40px 190px 300px rgba(64,124,147,0.75);
    box-shadow: 140px 40px 190px 300px rgba(64,124,145,0.75);
}
.search-item{
    position: absolute;
    right: 0;
    width: 250%;
}
.search-item > form{
    height: 20px;
    float: right;
}
.search-btn{
    display: inline-block;
    height: 100%;
    width: 20px;
    cursor: hand;
    cursor: pointer;
}
.search-btn > img{
    width: 100%;
}
.search-box {
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    height: 100%;
    transform: max-width 1s;
}
.search-box > input{
    height: 100%;
    width: 200px;
}
.search-box.expand{
    max-width: 500px;
    transition: max-width 1s;
}
.d1 {
    box-sizing:border-box; border:1px solid #000;
}
/*extending cycle2*/
.slideshow-nav{
    position: absolute;
    z-index: 999;
    height: 50px;
    margin-top: 25px;
    left: 20px;
    bottom: 10px;
}
.slideshow-nav span{
    cursor: hand;
    cursor: pointer;
    margin: auto;
    display: inline-block;
    border-radius:50%;
    width: 15px;
    height:15px;
    border: 1px solid #ffffff;
    background: rgba(0,0,0,0);
    transition: background-color 0.3s;
}
.slideshow-nav > span.cycle-pager-active{
    background-color: rgba(0, 150, 150, 0.5);
    transition: background-color 0.3s;
}

.slideshow-info > div {
    height:0; width:100%; border:1px solid rgba(255,255,255,1) !important;
}
.slideshow-info > p {
    color: rgba(255,255,255,1) !important; padding-bottom:5px;
}
.slideshow-info > h3 {
    color: rgba(255,255,255,1) !important; padding-top:10px;
}    
/*extending cycle2 ends*/
.wrapper{
    background-color: #ffffff;
    padding-top: 20px;
    position: relative;
    z-index: 999;
    width: 100%;
    overflow: hidden;
}
.default{
    z-index:999;
    top: 10px;
    right: 20px;
    position:fixed;
}
.moveable{
    z-index:999;
    top: -100px;
    right: 20px;
    position: absolute;
}
#thumb .news{
    margin: 0 auto;
    max-width: 1380px;
    display: inline-block;
    margin-bottom: 10px;
}

#thumb .news img{
    position: relative;
    width: 390px;
    height: 260px;
    float: left;
}
#thumb .news .article{
    float: left;
    padding: 20px;
    
}
#thumb .news .article h2{
    float:none;
    max-width: 380px;
    height: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #00536c;
}

#thumb .news .article .arch{
    margin-top: 15px;
    width: 380px;
    text-align: left;
    display: block;
    float: left;
}

#thumb .news .article li{
    list-style-type: none;
    float: left;
    display: block;
    margin-top: 15px;

}
#thumb .news .article p{
    float: left;
    max-width: 310px;
    line-height: 21px;
    position: relative;
    display: inline-block;
}
#thumb .news .more{
    float: right;
    font-size: 16px;
    color: #a5c5cf;
}
#profile{
    background-color: #f3f3f3;
    height:relative;
}
#brief{
    float:left;
    padding: 20px;
    max-width: 600px;
}
#brief h2{
    padding: 10px 0;
}
#brief p{
    padding-bottom: 25px;
}
#brief a{
    color: #a5c5cf;
}
#sum{
    padding: 20px;
    display: inline-block;
    color: #00536c;
    font-size: 24px;
    line-height: 1.5em;
}
footer{
    background-color: #00536c;
}
.address{
    float:left;
    padding: 20px;
    font-size: 14px;
    line-height: 1.2em;
    color:#ffffff;
    display: block;
    position: relative;
    max-width: 250px;
}
.address .emails{
    color: #5bbacb;
}
#sns ul{
    margin-left:20px;
    max-width: 500px;
    border-top: 1px solid #5bbacb;    
}
#sns li{
    float: left;
    display: block;
    margin-top: 10px;
    margin-right:20px;
    float: left;
}
#sns li img{
    width: 80%
}
.last{
    float:none;
    margin: 10px 20px;
    display: block;
    color:#5bbacb;
    font-size: 20px;
}
footer :after{
    content: "";
    display: block;
    clear:both;
}
.top{
    display: none;
}
@media screen and (max-width:768px){
    .menu-wrap{
        float: none;
        width: 100%;
        clear: both;
        padding: 0;
        background-color: #ffffff;
        height: 40px;
        position: fixed;
        z-index: 9999;
    }
    .logo{
        height: 30px;
        width: 60px;
        z-index:999;
        top: 5px;
        right: 10px;
        position:fixed;
        background: url(image/auer-blue-sm.png) no-repeat;
        cursor:pointer;
    }
    .default{
        display: none;
    }
    .moveable{
        display: none;
    }
    .sidemenu{
        position: fixed;
        top: 40px;
        left:-1000px;
        background: #00536c;
        overflow: hidden;
        max-width: 262px;
        max-height: 100%;
        transition: left 1s;
    }
    .sidemenu.open{
        left: 0px;        
    }
    .menu-item{
        text-align: left;
        font-size: 24px;
        margin: 0;
        line-height: 1.6em;
    }
    .inline-menu{
        font-size: 1.2em;
        float: left;
    }
    .burger-nav{
        display: block;
        height: 30px;
        width: 40px;
        background: url(image/burger.png) no-repeat 100% center;
        background-color: #ffffff;
        cursor: pointer;
        position: fixed;
        top: 5px;
        left: 5px;
    }
    .burger-nav.open{
        left: 270px;
        transition: left 1s;
    }
    .search-item.open{
        display: block;
        position: fixed;
        top:0;
        left: 0;
        height: 40px;
        width: 262px;
        float: left;
        background-color: #5bbacb;
    }
    .search-item > form{
        float: left;
        margin-left: 10px;
        margin-top: 10px;
    }
    .top{
        display: block;
    }

    #footer.slide{
        position:relative; 
        left:262px; 
        transition:left 1s; 
    }
}
@media screen and (max-width: 640px){
    #thumb .news img{
        display: none;
    }
    #thumb .news .article h2{
        max-width: 620px;
        font-size: 18px;
    }
    #thumb .news .article p, #brief p{
        max-width: 620px;
        font-size: 16px;
    }
    #brief h2, #sum{
        font-size:18px;
    }
}